.header{
  width:100%;
  height:60vh;
  background-image: url('./assets/images/photo_2024-05-31_19-18-31.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.border-bottom{
  border-bottom-right-radius:3rem;
  border-bottom-left-radius:3rem;
}

.header__background{
  background-color: #1D2939;
  height: 100%;
  opacity: 65%;
}

.header__content{
  padding: 6rem;
  color: white;
  text-align: center;
  @media screen and (max-width:1065px) {
    padding: 5rem;
  }
  @media screen and (max-width:600px) {
    padding: 3rem;
  }
  @media screen and (max-width:350px) {
    padding: 2rem;
  }
}

.header__title{
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 103.6px;
  @media screen and (max-width:1065px) {
    line-height: 80.6px;
  }
  @media screen and (max-width:600px) {
    line-height: 50.6px;
    font-size: 2.2rem;
  }

  @media screen and (max-width:350px) {
    font-size: 1.5rem;
  }
  
}

.header__text{
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 33.6px;
  @media screen and (max-width:600px) {
    font-size: 1.3rem;
  }
  @media screen and (max-width:350px) {
    font-size: 1rem;
  }
}

.welcome{
  background-color: #FFFFFF;
  height: fit-content;
  margin-top: 2rem;
  border-radius: 3rem;
}

.questions{
  background-color: #FFFFFF;
  height: fit-content;
  margin-top: 2rem;
  border-radius: 3rem;
}

.questions__white-section{
  height: fit-content;
}

.welcome__info-section{
  border-radius: 3rem;
  background-color: #00AD6F;
  height: 30vh;
  display: flex;
  align-items: center;
  @media screen and (max-width:880px){
    flex-direction:column;
    height: fit-content;

    }
}

.questions__white-section{
  display: flex;
  flex-direction: row;
  padding: 0 5rem 10.5rem;
  @media screen and (max-width:1000px){
  padding: 0 5rem 2rem;
  flex-direction: column;
        }
        @media screen and (max-width:600px){
          padding: 0 3rem 2rem;
          flex-direction: column;
                }
}

.questions__white-section-column1{
    padding-right: 1rem;
  width: 33%;

    @media screen and (max-width:1000px){
    width: 100%;
    padding: 0;
            }
}

.questions__white-section-column2{
  width: 33%;
  padding: 0 0.5rem;
  @media screen and (max-width:1000px){
    width: 100%;
    padding: 0;
            }
}

.questions__white-section-column3{
  width: 33%;
  padding-left: 1rem;
  @media screen and (max-width:1000px){
    width: 100%;
    padding: 0;
            }
}

.questions__white-section-button{
  margin-top: 2rem;
  background-color: #ececec;
  width: 100%;
  height: 3rem;
  color:#1D2939;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pcLogo{
  position: relative;
}

.pcLogo__logo{
  position: absolute;
  left:-44px;
  top:-24px;
  @media screen and (max-width:1000px){
display: none;
    }
}

.questions__green-section{
  border-radius: 3rem;
  background-color: #00AD6F;
  height: fit-content;
  display: flex;
  align-items: start;
  flex-direction:column;
  padding: 2rem 5rem;
  @media screen and (max-width:600px){
  padding: 2rem 3rem;
  }
}

.question__logo{
  @media screen and (max-width:1000px){
  text-align: center;

    }
}

.questions__green-section-container{
  display: flex;
  flex-direction: row;
  @media screen and (max-width:1000px){
    flex-direction: column;
  }
}

.questions__green-section-container-column1{
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
  margin-right: 4rem;
  @media screen and (max-width:1000px){
  margin-right:0;
  width: 100%;
      }
}

.questions__green-section-container-column2{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 33%;
  @media screen and (max-width:1000px){
    margin-right:0;
    width: 100%;
        }
  /* margin-right: 4rem; */
}

.questions__green-section-container-logo{
  width: 16rem;
  @media screen and (max-width:1000px){
    width: 10rem;
    }
}

.questions__green-section-container-button{
  margin-top: 2rem;
  background-color: #6cc3a4;
  width: 100%;
  height: 3rem;
  color:#FFFFFF;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.questions__green-section-title{
  font-weight: 800;
  font-size: 36px;
  color:#FFFFFF;
  @media screen and (max-width:1000px){
    text-align: center;
    }
}

.questions__green-section-container-column3{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 33%;
  padding-left: 4rem;
  @media screen and (max-width:1000px){
  padding-left: 0;
  width: 100%;

    }
}

.questions__green-section-container-text{
  margin-top: 2rem;
}

.questions__green-section-container-text-title{
  font-weight: 800;
  font-size: 24px;
  color:#FFFFFF;
}

.questions__green-section-container-text-content{
  font-weight: 600;
  font-size: 16px;
  color:#FFFFFF;
  margin-top:1rem;
}

.welcome__title{
  line-height: 38.23px;
  font-size: 36px;
  font-weight: 800;
  color:#FFFFFF;
}

.welcome__text-container{
  margin-left: 5rem;
  @media screen and (max-width:880px){
    margin-left:unset;
    margin: 2rem 5rem 0;
  text-align: center;
  }
}

.welcome__text{
  margin-top: 0.5rem;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  color:#FFFFFF;
}

.welcome__logo{
  width:23rem;
  margin-right: 1rem;
  @media screen and (max-width:965px) {
  width:18rem;
  }
  @media screen and (max-width:880px){
  width:23rem;
  }
  @media screen and (max-width:350px){
    width:15rem;
    }
}


.welcome__slider{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
  padding: 2rem 20%;
  @media screen and (max-width:600px) {
    height: 14rem;
  }
}

.first-day{
  background-color: #FFFFFF;
  height: fit-content;
  margin-top: 2rem;
  border-radius: 3rem;
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width:880px){
    flex-direction:column;
    height: fit-content;
    align-items: center;
  }
  @media screen and (max-width:600px){
    padding: 2rem
  }
}

.calendar{
  background-color: #FFFFFF;
  height: fit-content;
  margin-top: 2rem;
  border-radius: 3rem;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width:880px){
    flex-direction:column;
    height: fit-content;
    align-items: center;
  }
  @media screen and (max-width:600px){
    padding: 2rem
  }
}

.events{
  background-color: #FFFFFF;
  height: fit-content;
  margin-top: 2rem;
  border-radius: 3rem;
}

.events__MindGame{
  color:#FFFFFF;
  font-weight: 800;
  font-size: 24px;
  margin-top: 2rem;
}

.calendar__text{
  width: 40%;
  @media screen and (max-width:600px){
  width: 100%;
  }
}

.calendar__text-title{
  font-weight: 800;
  font-size: 36px;
  color:#1D2939;
   @media screen and (max-width:1033px){
  font-size: 28px;
  }
}

.calendar__text-content{
  margin-top: 3rem;
}

.calendar__text-content-section{
  margin-top:2rem;
}

.calendar__text-content-section-title{
  color:#006747;
  font-size: 24px;
  font-weight: 800;
}

.calendar__images-colomn1{
  display: flex;
  flex-direction: column;
  padding-right: 1vh;
}

.calendar__images-colomn2{
  display: flex;
  flex-direction: column;
}

.calendar__images{
  display: flex;
  @media screen and (max-width:880px){
    margin-top: 2rem;
  }
}

.calendar__images-colomn1-1{
  height: 30vw;
}

.calendar__images-colomn1-2{
  padding-top: 1vh;
  height: 15vw;
}

.calendar__images-colomn2-1{
  height: 22.5vw;
}

.calendar__images-colomn2-2{
  padding-top: 1vh;
  height: 22.5vw;
}

.calendar__text-content-section-date{
  margin-top: 0.5rem;
  color:#1D2939;
  font-size: 16px;
  font-weight: 500;
}

.presents{
  background-color: #00AD6F;
  height: fit-content;
  margin-top: 2rem;
  border-radius: 3rem;
  padding: 0 0 0 5rem;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width:880px){
    flex-direction:column;
    align-items: center;
    padding: 2rem
  }
  @media screen and (max-width:600px){
    padding: 2rem
  }
}

.last{
  background-color: #00AD6F;
  height: fit-content;
  margin-top: 2rem;
  border-radius: 3rem;
  padding: 2rem;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.last-title{
  color:#FFFFFF;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  max-width: 70%;
  @media screen and (max-width:600px) {
    max-width: 100%;
    }
}

.last-image{
  margin-top:1rem;
  width: 40vw;
  @media screen and (max-width:600px) {
    width: 100%;
    }
}

.presents__text{
  padding-top: 2rem;
  width: 80%;
  padding-right: 3rem;
  color:#FFFFFF;
  @media screen and (max-width:600px) {
  width: 100%;
  padding-right: 0;
  }
}

.presents__text-title{
  font-weight: 800;
  font-size: 36px;
  @media screen and (max-width:600px) {
  font-size: 28px;

  }
}

.presents__text-content{
  margin-top: 2rem;
  font-weight: 400;
  font-size: 16px;
}

.presents__slider{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25rem;
  width: 50%;
  border-radius: 4rem;
  @media screen and (max-width:880px){
    width: 100%;
    margin-top: 2rem;
  }
  @media screen and (max-width:600px) {
    height: 14rem;
  }
}

.white-section{
  background-color: #FFFFFF;
  height: fit-content;
  border-radius: 3rem;
  padding: 0 5rem 0 0;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width:880px){
    padding: 2rem;
    flex-direction:column-reverse;
    align-items: center;
  }
}

.white-section-text-title{
  font-weight: 800;
  font-size: 36px;
  margin-top: 2rem;@media screen and (max-width:360px){
  font-size: 30px;

    }
}

.white-section-text-content{
  font-weight: 400;
  font-size: 16px;
  margin-top: 1rem;
  @media screen and (max-width:880px){
    padding-right: 2rem;
    }
}

.white-section-text{
  width: 80%;
  padding-left: 8%;
  color:#1D2939;
  @media screen and (max-width:880px){
  width: 100%;
  padding-left: 1rem;
  }
}

.social{
  background-color: #FFFFFF;
  height: fit-content;
  margin-top: 2rem;
  border-radius: 3rem;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width:1030px){
    flex-direction:column;
  }
  @media screen and (max-width:600px){
    padding: 2rem
  }
}

.social__text{
  width: 40%;
  @media screen and (max-width:1030px){
  width: 100%;

  }

  @media screen and (max-width:682px){
    text-align: center;
      }
}

.social__text-title{
  font-weight: 800;
  font-size: 36px;
  color:#1D2939;
}

.social__text-text{
  margin-top: 1rem;
  font-weight: 500;
  font-size: 16px;
  color:#1D2939;
}

.social__icons{
  display: flex;
  @media screen and (max-width:1030px){
    width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
  flex-wrap: wrap;
    }
}

.social__icon-text{
  margin-top:0.5rem;
  font-weight: 400;
  font-size: 12px;
}

.social__icon-img{
  width: 4.5rem;
  cursor: pointer;
}

.social__icon{
  margin-left: 1rem;
  @media screen and (max-width:1030px){
  margin-left: 0;
  /* width: 50%; */
    }
    @media screen and (max-width:682px){
      width: 50%;
      text-align: center;
      margin-top: 0.5rem;
        }
}

.program{
  background-color: #00AD6F;
  height: fit-content;
  margin-top: 2rem;
  border-radius: 3rem;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-around;
  @media screen and (max-width:880px){
    flex-direction:column;
    height: fit-content;
    align-items: center;
  }
  @media screen and (max-width:600px){
    padding: 2rem
  }
 
}

.program__buttons{
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  @media screen and (max-width:600px){
  padding-left: 0;
  }
}

.program__button{
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  background-color: #D9D9D9;
  display: flex;
  border-radius: 4rem;
  justify-content: start;
  height: 2.5rem;
  align-items: center;
}

.program__button-bold{
  color:#006747;
  font-weight: 400;
  font-size: 48px;
  margin-right: 2rem;
  @media screen and (max-width:600px){
  font-size: 24px;
  margin-right: 0.5rem;
  }
}

.program__button-text{
  color:#006747;
  font-weight: 400;
  font-size: 22px;
  @media screen and (max-width:600px){
    font-size: 16px;
    }
}

.program__content-title{
  font-weight: 800;
  font-size:36px;
  color:#FFFFFF;
}

.program__content{
  width: 60%;
  @media screen and (max-width:880px){
  width: 100%;
    }
}

.program__content-text-span{
  margin-top:1rem;
  font-weight: 400;
  font-size:16px;
  color:#FFFFFF;
}

.first-day__title{
  line-height: 38.23px;
  font-size: 36px;
  font-weight: 800; 
  color:#1D2939;
  @media screen and (max-width:600px){
    text-align: center;
  }
}

.first-day__text{
  margin-top: 1.5rem;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color:#1D2939;
}


.first-day__text-container{
  border-radius: 3rem;
  display: flex;
  flex-direction:column;
  @media screen and (max-width:880px){
    flex-direction:column;
    height: fit-content;
    align-items: center;
  }
}

.first-day__logo{
  height: 15rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
